body, .dropdown-menu, .form-control {
    background-color: #343a40 !important;
    color: #fff !important;
}

a, a:hover, .icon, .dropdown-item, .site-name {
    color: #fff !important;
}

#region-main, .navbar-bootswatch, .nav-link, .btn, .list-group-item, .page-item, .info, .formulation {
    color: #fff !important;
    background-color: #212529 !important;
}

.course-summaryitem, .card {
    background-color: #212529 !important;
}